/* Fonts */
$header-font: Lobster;
$content-font: Raleway;

/* Color Pallete */
$onyx: rgba(49, 53, 68, 1);
$slate: rgba(93, 115, 126, 1);
$turquoise: rgba(195, 223, 224, 1);
$sky: rgba(59, 165, 226, 1);
$off-white: rgba(250, 250, 250, 0.95);
